.status-messages {
  margin: 15px 0px;
  padding: 10px;
  border: 1px solid black;
}

.status-messages--error {
  color: #d32f2f; /* Material Red for errors */
  font-size: 0.9em;
  margin-top: 5px;
  border-color:#d32f2f;
}

/* Helper for success messages */
.status-messages--success {
  color: #388e3c; /* Material Green for success */
  font-size: 0.9em;
  margin-top: 5px;
  border-color: #388e3c;
}
